_schema-version: 3.3.0
ID: sap-odata-connector-<app-version>
version: "<app-version>"
modules:
- name: sap-odata-connector
  type: application
  properties:
    CAMUNDA_CLIENT_MODE: saas
    CAMUNDA_CLIENT_CLUSTER-ID: <your-cluster-id>
    CAMUNDA_CLIENT_AUTH_CLIENT-ID: <client-id-credential-from-api-client>
    CAMUNDA_CLIENT_AUTH_CLIENT-SECRET: <client-secret-credential-from-api-client>
    CAMUNDA_CLIENT_REGION: <your-cluster-region>
    CAMUNDA_CLIENT_OPERATE_ENABLED: false
    CAMUNDA_CONNECTOR_POLLING_ENABLED: false
    CAMUNDA_CONNECTOR_WEBHOOK_ENABLED: false
    LOGGING_LEVEL_ROOT: WARN # any of TRACE, DEBUG, INFO, WARN, ERROR, OFF
    LOGGING_LEVEL_IO_CAMUNDA_CONNECTOR_SAP: DEBUG # any of TRACE, DEBUG, INFO, WARN, ERROR, OFF
  requires:
    - name: dest-camunda-odata-connector
    - name: conn-camunda-odata-connector
  parameters:
    disk-quota: 512M
    docker:
      image: camunda/sap-odata-connector:<pick your version according to Camunda release, e.g. 8.6.1>
    enable-ssh: true
    health-check-type: process
    instances: 1
    memory: 2G
resources:
  - name: dest-camunda-odata-connector
    type: org.cloudfoundry.managed-service
    parameters:
      service: destination
      service-plan: lite
  - name: conn-camunda-odata-connector
    type: org.cloudfoundry.managed-service
    parameters:
      service: connectivity
      service-plan: lite
