_schema-version: 3.3.0
ID: sap-odata-connector
version: 1.0.0-alpha.6
modules:
- name: sap-odata-connector
  type: application
  properties:
    ZEEBE_CLIENT_SECURITY_PLAINTEXT: false
    ZEEBE_CLIENT_CLOUD_CLUSTER-ID: <your-cluster-id>
    ZEEBE_CLIENT_CLOUD_CLIENT-ID: <credential-from-api-client>
    ZEEBE_CLIENT_CLOUD_CLIENT-SECRET: <credential-from-api-client>
    ZEEBE_CLIENT_CLOUD_REGION: <your-cluster-region>
    CAMUNDA_OPERATE_CLIENT_URL: https://<region>.operate.camunda.io/<cluster-id>'
    LOGGING_LEVEL_ROOT: WARN # any of TRACE, DEBUG, INFO, WARN, ERROR, OFF
    LOGGING_LEVEL_IO_CAMUNDA_CONNECTOR_SAP: DEBUG # any of TRACE, DEBUG, INFO, WARN, ERROR, OFF
  requires:
  - name: destination-instance
  - name: conn-instance
  parameters:
    disk-quota: 512M
    docker:
      image: camunda/sap-odata-connector:1.0.0-alpha.6
    enable-ssh: true
    health-check-type: process
    instances: 1
    memory: 2G
    routes:
    - route: ${org}-${space}-${app-name}.${domain}
resources:
- name: destination-instance
  type: org.cloudfoundry.managed-service
  parameters:
    service: destination
    service-plan: lite
- name: conn-instance
  type: org.cloudfoundry.managed-service
  parameters:
    service: connectivity
    service-plan: lite
